{% extends "base.html" %}
{% block content %}
<h4 class="mb-4 text-center">انواع صندوق‌های سرمایه‌گذاری</h4>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for cat in categories %}
    <div class="col">
        <div class="card h-100 shadow-sm border-0">
            <div class="card-body text-center">
                <h5 class="card-title text-primary">{{ cat.name }}</h5>
                <p class="card-text text-muted">مشاهده لیست صندوق‌های این دسته و وضعیت NAV لایو آنها</p>
                <a href="/category/{{ cat.id }}" class="btn btn-outline-primary mt-2">مشاهده لیست</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}